:root {
    --verde       : #24ad59;
    --branco      : #e8eaf3fa;
    --cinza       : #CCC;
    --error       : #d11507;
    --preto       : #090910;
    --primary     : #00000055;
    --verde       : #35858B;
    --verde-claro : #4FBDBA;
    --verde-escuro: #072227;
    --verde-vivo  : #12941d;
    --vermelho    : #D61C4E;
}
